In [6]:
import numpy as np
import pandas as pd
import pandasql as ps

import matplotlib.pyplot as plt

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split


##import tensorflow as tf
##from tensorflow_addons.metrics import Rsquare

In [4]:
%pip install tensorflow-addons==0.20.0

Requirement already satisfied: tensorflow-addons==0.20.0 in c:\users\kirit\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (0.20.0)
Requirement already satisfied: typeguard<3.0.0,>=2.7 in c:\users\kirit\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from tensorflow-addons==0.20.0) (2.13.3)
Requirement already satisfied: packaging in c:\users\kirit\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from tensorflow-addons==0.20.0) (23.1)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 23.1.2
[notice] To update, run: C:\Users\kirit\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [20]:
Sales = pd.read_csv("vgsales.csv", index_col='Rank')

Sales

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Rank,,,,,,,,,,
1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...
16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [21]:
drop_col = ['Name', 'NA_Sales',	'EU_Sales',	'JP_Sales',	'Other_Sales']
Sales.drop(drop_col, axis=1, inplace=True)

Sales

      Platform    Year         Genre   Publisher  Global_Sales
Rank
1          Wii  2006.0        Sports    Nintendo         82.74
2          NES  1985.0      Platform    Nintendo         40.24
3          Wii  2008.0        Racing    Nintendo         35.82
4          Wii  2009.0        Sports    Nintendo         33.00
5           GB  1996.0  Role-Playing    Nintendo         31.37
...        ...     ...           ...         ...           ...
16596      GBA  2002.0      Platform       Kemco          0.01
16597       GC  2003.0       Shooter  Infogrames          0.01
16598      PS2  2008.0        Racing  Activision          0.01
16599       DS  2010.0        Puzzle    7G//AMES          0.01
16600      GBA  2003.0      Platform     Wanadoo          0.01

[16598 rows x 5 columns]

In [25]:
Sales.isnull().sum()

Platform        0
Year            0
Genre           0
Publisher       0
Global_Sales    0
dtype: int64

In [23]:
Sales['Year'] = Sales['Year'].fillna(Sales['Year'].mean())

In [24]:
Sales = Sales.dropna(axis=0)

In [26]:
Sales['Platform'].unique()

array(['Wii', 'NES', 'GB', 'DS', 'X360', 'PS3', 'PS2', 'SNES', 'GBA',
       '3DS', 'PS4', 'N64', 'PS', 'XB', 'PC', '2600', 'PSP', 'XOne', 'GC',
       'WiiU', 'GEN', 'DC', 'PSV', 'SAT', 'SCD', 'WS', 'NG', 'TG16',
       '3DO', 'GG', 'PCFX'], dtype=object)

In [27]:
Sales['Genre'].unique()

array(['Sports', 'Platform', 'Racing', 'Role-Playing', 'Puzzle', 'Misc',
       'Shooter', 'Simulation', 'Action', 'Fighting', 'Adventure',
       'Strategy'], dtype=object)

In [34]:
counts = Sales['Publisher'].value_counts()
Sales['Publisher'] = Sales['Publisher'].apply(lambda x: 'Small Publisher' if counts[x] < 50 else x)

In [43]:
Sales['Publisher'].value_counts()
Sales

      Platform    Year         Genre        Publisher  Global_Sales
Rank
1          Wii  2006.0        Sports         Nintendo         82.74
2          NES  1985.0      Platform         Nintendo         40.24
3          Wii  2008.0        Racing         Nintendo         35.82
4          Wii  2009.0        Sports         Nintendo         33.00
5           GB  1996.0  Role-Playing         Nintendo         31.37
...        ...     ...           ...              ...           ...
16596      GBA  2002.0      Platform  Small Publisher          0.01
16597       GC  2003.0       Shooter       Infogrames          0.01
16598      PS2  2008.0        Racing       Activision          0.01
16599       DS  2010.0        Puzzle  Small Publisher          0.01
16600      GBA  2003.0      Platform  Small Publisher          0.01

[16540 rows x 5 columns]

In [44]:
onehot_col = ['Platform', 'Genre', 'Publisher']

In [45]:
def oh_code(Sales, columns):
    for column in columns:
        dummies = pd.get_dummies(Sales[column])
        Sales = pd.concat([Sales, dummies], axis = 1)
        Sales.drop(column, axis = 1, inplace=True)
    return Sales

In [46]:
Sales = oh_code(Sales, onehot_col)
Sales

,Year,Global_Sales,2600,3DO,3DS,DC,DS,GB,GBA,GC,...,SquareSoft,THQ,Take-Two Interactive,Tecmo Koei,Ubisoft,Unknown,Virgin Interactive,Vivendi Games,Warner Bros. Interactive Entertainment,Zoo Digital Publishing
Rank,,,,,,,,,,,,,,,,,,,,,
1,2006.0,82.74,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,1985.0,40.24,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,2008.0,35.82,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,2009.0,33.00,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5,1996.0,31.37,False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16596,2002.0,0.01,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
16597,2003.0,0.01,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
16598,2008.0,0.01,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
16599,2010.0,0.01,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
16600,2003.0,0.01,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False