In [5]:
import numpy as np
import pandas as pd
import pandasql as ps

import matplotlib.pyplot as plt

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split


import tensorflow as tf
from tensorflow_addons.metrics import Rsquare

In [6]:
Sales = pd.read_csv("vgsales.csv", index_col='Rank')

Sales

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Rank,,,,,,,,,,
1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...
16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [45]:
drop_col = ['Name', 'NA_Sales',	'EU_Sales',	'JP_Sales',	'Other_Sales']
Sales.drop(drop_col, axis=1, inplace=True)

Sales

      Platform    Year         Genre   Publisher  Global_Sales
Rank
1          Wii  2006.0        Sports    Nintendo         82.74
2          NES  1985.0      Platform    Nintendo         40.24
3          Wii  2008.0        Racing    Nintendo         35.82
4          Wii  2009.0        Sports    Nintendo         33.00
5           GB  1996.0  Role-Playing    Nintendo         31.37
...        ...     ...           ...         ...           ...
16596      GBA  2002.0      Platform       Kemco          0.01
16597       GC  2003.0       Shooter  Infogrames          0.01
16598      PS2  2008.0        Racing  Activision          0.01
16599       DS  2010.0        Puzzle    7G//AMES          0.01
16600      GBA  2003.0      Platform     Wanadoo          0.01

[16598 rows x 5 columns]

In [55]:
Sales.isnull().sum()

Platform        0
Year            0
Genre           0
Publisher       0
Global_Sales    0
dtype: int64

In [49]:
Sales['Year'] = Sales['Year'].fillna(Sales['Year'].mean())

In [54]:
Sales = Sales.dropna(axis=0)

In [65]:
Sales['Platform'].unique()

array(['Wii', 'NES', 'GB', 'DS', 'X360', 'PS3', 'PS2', 'SNES', 'GBA',
       '3DS', 'PS4', 'N64', 'PS', 'XB', 'PC', '2600', 'PSP', 'XOne', 'GC',
       'WiiU', 'GEN', 'DC', 'PSV', 'SAT', 'SCD', 'WS', 'NG', 'TG16',
       '3DO', 'GG', 'PCFX'], dtype=object)

In [64]:
Sales['Genre'].unique()

array(['Sports', 'Platform', 'Racing', 'Role-Playing', 'Puzzle', 'Misc',
       'Shooter', 'Simulation', 'Action', 'Fighting', 'Adventure',
       'Strategy'], dtype=object)

In [66]:
Sales['Publisher'].value_counts()

Publisher
Electronic Arts                 1351
Activision                       975
Namco Bandai Games               932
Ubisoft                          921
Konami Digital Entertainment     832
                                ...
Warp                               1
New                                1
Elite                              1
Evolution Games                    1
UIG Entertainment                  1
Name: count, Length: 578, dtype: int64

In [1]:
Sales['Publisher'].apply(lambda x: 'Samll Publisher' if counts[x] < 50 else x)

NameError: name 'Sales' is not defined